/* parte 2- ejercicio1 y 2 
p{
    color:blue
}

.container p{
    color: green;
}

#parrafo{
    color: red;
}

p{
    color: blue !important;
}

/* Parte 3- ejercicio 1


h1{
    color: blue;
}

.content h1{
    color: green;
}

#main h1{
    color: red;
}
*/
/*Parte 3- ejercicio 2
#box p{
    color: blue;
}

.content .text{
    color: green;
}

#box .text{
    color: yellow;
}
*/

/*parte 4*/
.header h1 {
    color: #ffffff; 
}


.content p {
    color: red; 
}


#footer p {
    color: gray; 
}


#box p {
    color: blue; 
}

.content .text {
    color: green; 
}

#box .text {
    color: yellow; 
}
